.container {
  width: 100%;
  height: 100vh;

  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #3F51B5;

}

.content {
  width: 50%;
  margin-left: 55%;
  display: grid;
}
.content img {
  height: 120px;
}
.content strong {
  margin: 5rem 0 2rem;
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0;
  }
}

.title {
  display: flex;
  margin-bottom: 1rem;
}
.title span {
  max-width: 220px;
  margin-left: 1rem;
  margin-bottom: 1rem;

  font-size: 1rem;
  font-weight: 500;
}

.container a button {
  width: 50%;
    height: 3rem;
    background: rgb(41,48,119);
    border: 0 none;
    font-family: Arial, Helvetica, sans-serif;
    
    border-radius: 5px;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2.5rem;

    transition: background-color 0.2s;
}

.container a button img {
  height: 3rem;
  justify-content: flex-end;    
}

.container a button:hover {
  background: rgb(20, 23, 46);
}
.content form {
  order: 0;

  max-width: 350px;
  padding: 5px;

  display: flex;
  justify-content: space-between;

  background: #fff;
  border-radius: 5px;
  border: 1px solid;
}

.container input {
  order: 1;

  width: 100%;
  padding: 10px;
  margin-right: 5px;

  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #080715;

  background: transparent;
  border: none;
}
.container input:placeholder {
  color: #bfbfbf;
}

@media (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: row;
  }
  .buttons button div {
    visibility: hidden;
    display: none;
  }
}



